body {
    margin: 0;
    padding: 0;
    font-family: monospace, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0.5);
}
#title {
    text-align: center;
}
#color-palette {
    width: 200px;
    height: 40px;
    left: 70px;
    position: relative;
    
}
#clear-board, #board-size, #generate-board {
    font-size: x-small;
    font-family:monospace;
}
#clear-board{
    border-radius: 5px;
    background-color: teal;
    position: absolute;
    left: 100px;
    color: white;
}
#board-size{
    width: 100px;
    position: relative;
    left: 250px;
}
#generate-board {
    position: relative;
    left: 70px;
    border-radius: 5px;
    background-color: teal;
    color: white;
}
.color {
    width: 30px;
    height: 30px;
    border: black solid 1px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    left: 30%;
    top: 10px;
    transform: translate(-50%, -50%);
    margin-left: 10px;
    
    
}
.black {
    background-color: black;
}
#pixel-board {
    width: 230px;
    height: 280px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    left: 20%;
    top: 30px;
}
.pixel {
    width: 40px;
    height: 40px;
    border: 1px black solid;
    display: inline-block;
    background-color: white;
    margin-left: 0px;
    margin-bottom: -4px;
}