body {
    margin: 0;
    padding: 0;
    font-family: monospace, Helvetica ,sans-serif;
}
#color-palette {
    width: 160px;
    height: 40px;
}
.color {
    width: 30px;
    height: 30px;
    border: black solid 1px;
    border-radius: 5px;
    display: inline-block;
}
.black{
    background-color: black;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
#pixel-board {
    width: 300px;
    height: 280px;
    border: red solid 1px;
}
.pixel {
    width: 50px;
    height: 50px;
    border: 1px black solid;
    display: inline-block;
    background-color: white;
}
